/* small screen media query */

@media screen and (width <= 355px) {
  .courses {
    padding: 40px 10px;

    .courseGrid {
      .box {
        .courseOutline {
          .name {
            font-size: 14px;
          }
          .price {
            font-size: 14px;
          }
        }
      }
    }
  }
  .footer {
    .gridContainer {
      padding: 5px;
    }
  }
}
@media screen and (width <=400px) {
  .mainBox {
    .content {
      text-align: start;

      & h2 {
        width: 100%;
      }
      & p {
        width: 100%;
      }
    }
  }
  .weBox {
    .weContent {
      text-align: start;
      justify-content: center;
      & p{
        font-size: 18px;
      }
    }
    .weVideo {
      width: 100%;
    }
  }
  .weDo {
    & h2 {
      text-align: start;
    }
    & p {
      text-align: start;
      font-size: 18px;
    }
  }
  .courses {
    & h2 {
      text-align: start;
    }
  }
  .testimonial {
    .header {
      & p {
        width: 100%;
        text-align: start;
      }
    }
  }
}

@media screen and (width <= 450px) {
  .mainBox {
    .contentGrid {
      grid-template-columns: 1fr;
    }
  }
  .thumbNail {
    left: 50%;
    transform: translateX(-50%);
  }
  .testimonial {
    .header {
      & h2 {
        width: 90%;
      }
    }
  }
}

@media screen and (width <=500px) {
  .navBar {
    .smallScreenImg {
      display: block;
    }
    .bigScreenImg {
      display: none;
    }
  }
  .slider {
    margin-bottom: 30px;
    .list {
      .item {
        .content {
          & p {
            line-height: 1.2;
          }
        }
      }
    }
  }
  .arrows {
    display: initial;
    top: 80%;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  .thumbNail {
    display: none;
  }

  .ourVision {
    .visionItem {
      padding: 0;
      .visionContent {
        padding: 15px;
        & h2 {
          font-size: 25px;
        }
        & p {
          font-size: 18px;
        }
      }

      & ul {
        & li {
          list-style-type: none;
          font-size: 16px;
        }
      }
    }
  }
  .valuesHeader {
    padding: 0 15px;
  }
}
@media screen and (width >= 500px) {
  .weBox {
    .weVideo {
      width: 60%;
    }
  }
}

@media screen and (width < 540px) {
  .weDo {
    .weDoGrid {
      gap: 20px;
      .box {
        height: 15rem;
      }
    }
  }
}
@media screen and (width <= 600px) {
  .testimonial {
    .header {
      margin-bottom: 60px;
      & p {
        font-size: 20px;
      }
      & h2 {
        font-size: 25px;
      }
    }
    .comments {
      height: 125vh;
      .comment {
        grid-template-columns: 1fr;
        height: 20rem;
      }
    }
  }
}

@media screen and (width >= 700px) {
  .mainBox {
    .contentGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .courses {
    .courseGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .weDo {
    & p {
      width: 100%;
      margin: auto auto 60px auto;
    }
    .weDoGrid {
      .box {
        height: 15rem;
      }
    }
  }
  .weBox {
    height: 80vh;
    .weContent {
      & h2 {
        width: 100%;
      }
    }
    .weVideo {
      width: 50%;
      top: 60%;
      height: 10rem;
    }
  }
}

@media screen and (width <= 750px) {
  .navBar {
    .navLinks {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      /* height: 50vh; */

      background: #1b1a59;
      height: 0;
      overflow: hidden;

      pointer-events: none;
      transition: height 0.5s ease-in-out;

      & ul {
        padding: 30px 0;
        & li {
          width: 100%;
          & a {
            color: #fff;
          }

          & ul {
            position: relative;
            width: 100%;
            z-index: 1000;
            left: 0;
            transform: translateX(0);
            & li {
              background: #fff;

              & a {
                color: #000;
              }
            }
          }
        }
      }
    }
    .label {
      display: initial;
    }
    #hamburgerMenu:checked ~ .navLinks {
      height: 100vh;
      overflow: auto;
      pointer-events: initial;
      transition: height 0.5s ease-in-out;
    }
  }
}
@media screen and (width >= 800px) {
  .values {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .item {
      height: 25rem;
    }
  }
  .ourVision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin-bottom: 40px;
  }

  .mission {
    .item2 {
      order: 1;
    }
  }

  .thanks {
    height: 20rem;
    .content {
      & h1 {
        font-size: 30px;
      }

      & p {
        font-size: 18px;
      }
    }
  }
}

@media screen and (width <= 900px) {
  .navBar {
    padding: 20px;
    .bigScreenImg {
      height: 40px;
    }
    .navLinks {
      & ul {
        & li {
          & ul {
            margin: auto;
            width: 700px;

            & li {
              & a {
                color: #000;
              }
              & ul {
                position: relative;
                left: 0;
                & li {
                  background: #f2f5f7;
                  width: 100%;
                  & a {
                    color: #fff;
                  }
                }
              }
              &:hover > ul {
                animation: none;
              }
            }
          }
        }
      }
    }
  }

  .testimonial {
    .header {
      & h2 {
        width: 75%;
      }
    }
    .comments {
      width: 100%;
      background: transparent;
      .comment {
        width: 90%;
      }
    }
  }
}

@media screen and (width >= 901px) {
  .courses {
    .courseGrid {
      grid-template-columns: repeat(3, 1fr);
      .box {
        .courseOutline {
          padding: 0 5px;
        }
      }
    }
  }
  .weBox {
    .weContent {
      & p {
        width: 80%;
      }
    }
  }
  .weDo {
    & p {
      width: 90%;
    }
    .weDoGrid {
      .box {
        height: 18rem;
      }
    }
  }
}

@media screen and (width >= 960px) {
  .ourVision {
    .item1 {
      order: 2;
    }
    .visionItem {
      & p {
        font-size: 20px;
      }
      & ul {
        & li {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (width <= 1080px) {
  .courses {
    padding: 70px 30px;
  }

  .testimonial {
    .comments {
      .comment {
        width: 80%;
      }
    }
  }
  .slider {
    margin-top: 80px;
  }
}
@media screen and (width >= 1080px) {
  .mainBox {
    .content {
      & h2 {
        font-size: 30px;
      }
      & p {
        font-size: 20px;
        width: 60%;
      }
    }
  }
  .courses {
    padding: 70px 100px;
  }
  .weDo {
    padding: 20px 100px;
    .weDoGrid {
      .box {
        height: 20rem;
      }
    }
  }
  .values {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .slider {
    height: 80vh;
    .list {
      .item {
        .content {
          position: absolute;
          left: 5%;
          top: 20%;
          width: 100%;
          max-width: 80%;

          & h1 {
            font-size: 35px;
          }
          & p {
            font-size: 25px;
          }
        }
      }
    }
    .thumbNail {
      padding: 70px 30px;
      left: 5%;
      bottom: 50px;
      .item {
        width: 150px;
        height: 100px;
      }
    }
  }
}

@media screen and (width <= 1309px) {
  .mainBox {
    .content {
      height: 50vh;
    }
  }
  .courses {
    .courseGrid {
      .box {
        .hoveredSeemore {
          top: 80%;
          .btn {
            padding: 8px 12px;
            & i {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (width >= 1310px) {
  .mainBox {
    .content {
      height: 75vh;

      & h2 {
        font-size: 40px;
      }
      & p {
        font-size: 25px;
      }
    }
    .contentGrid {
      width: 80%;
      top: 40%;
      .gridBox {
        height: 20rem;
      }
    }
  }
  .weDo {
    padding: 20px 150px;

    & h2 {
      font-size: 30px;
    }
    & p {
      font-size: 25px;
    }
    .weDoGrid {
      .box {
        height: 20rem;
      }
    }
  }

  .courses {
    & h2 {
      font-size: 30px;
    }
    & p {
      font-size: 20px;
      width: 50%;
      line-height: 1.3;
    }
    .courseGrid {
      .box {
        height: 25rem;
        .courseOutline {
          padding: 0 20px;

          .price {
            padding-right: 15px;
          }
        }
      }
    }
    .outerSeeMore {
      margin-top: 25px;
    }
  }
  .weBox {
    .weContent {
      & h2 {
        width: 50%;
        font-size: 30px;
      }
      & p {
        font-size: 25px;
        width: 80%;
      }
    }
    .weVideo {
      width: 40%;
      /* top: 60%; */
      height: 14rem;
    }
  }
  .ourVision {
    padding: 0 80px;
    margin-top: 100px;
    .visionItem {
      & p {
        font-size: 25px;
      }
      & ul {
        & li {
          font-size: 20px;
        }
      }
    }
  }

  .valuesHeader {
    margin: 100px 0 50px 0;
    & h2 {
      font-size: 30px;
    }
  }
  .values {
    padding: 0 80px;
    .item {
      .title {
        & h3 {
          font-size: 24px;
        }
      }
    }
  }
  .thanks {
    .content {
      width: 70%;
      margin: auto 100px auto auto;
      & h1 {
        font-size: 40px;
      }
      & p {
        font-size: 20px;
      }
    }
  }
}
