/* small screen media query */
@media screen and (width <= 340px) {
  .container {
    margin-inline: 1rem;
  }
  .navLink {
    padding-inline: 1rem;
  }
}
@media screen and (width <= 355px) {
  .courses {
    padding: 40px 10px;

    .courseGrid {
      .box {
        .courseOutline {
          .name {
            font-size: 14px;
          }
          .price {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and (width <=400px) {
  .newNav {
    background: #eee;
    height: 100px;
  }
}

@media screen and (width <= 450px) {
  .mainBox {
    .contentGrid {
      grid-template-columns: 1fr;
    }
  }
  .thumbNail {
    left: 50%;
    transform: translateX(-50%);
  }

  .mainBox {
    .content {
      text-align: start;

      & h2 {
        width: 100%;
      }
      & p {
        width: 100%;
      }
    }
  }
  .weBox {
    .weContent {
      text-align: start;
      justify-content: center;
      & p {
        font-size: 18px;
      }
    }
    .weVideo {
      width: 100%;
    }
  }
  .weDo {
    & h2 {
      text-align: start;
      width: 100%;
    }
    & p {
      text-align: start;
      font-size: 18px;
    }
  }
  .courses {
    & h2 {
      text-align: start;
    }
  }
  .testimonial {
    .header {
      & p {
        width: 100%;
        text-align: start;
      }
    }
  }
  .footer {
    .gridContainer {
      padding: 5px;
      .content {
        padding: 10px;
      }
    }
  }
}

@media screen and (width <=500px) {
  .slider {
    margin-bottom: 30px;
    .list {
      .item {
        .content {
          & p {
            line-height: 1.2;
          }
        }
      }
    }
  }
  .arrows {
    display: initial;
    top: 80%;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  .thumbNail {
    display: none;
  }

  .ourVision {
    .visionItem {
      padding: 0;
      .visionContent {
        padding: 15px;
        & h2 {
          font-size: 25px;
        }
        & p {
          font-size: 18px;
        }
      }

      & ul {
        & li {
          list-style-type: none;
          font-size: 16px;
        }
      }
    }
  }
  .valuesHeader {
    padding: 0 15px;
  }
  .testimonial{
    .comments{
      .comment{
        .details{
          .comment-body{
            & i{
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
@media screen and (width >= 500px) {
  .weBox {
    .weVideo {
      width: 60%;
    }
  }
}

@media screen and (width < 540px) {
  .weDo {
    .weDoGrid {
      gap: 20px;
      .box {
        height: 15rem;
      }
    }
  }
}
@media screen and (width <= 600px) {
  .testimonial {
    .header {
      margin-bottom: 60px;
      & p {
        font-size: 20px;
      }
      & h2 {
        font-size: 25px;
      }
    }
    .comments {
      height: 125vh;
     
      overflow: hidden;
      .comment {
        grid-template-columns: 1fr;
       
      }
    }
  }
}

@media screen and (width >= 700px) {
  .mainBox {
    .contentGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .courses {
    .courseGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .weDo {
    & p {
      width: 100%;
      margin: auto auto 60px auto;
    }
    .weDoGrid {
      .box {
        height: 15rem;
      }
    }
  }
  .weBox {
    height: 80vh;
    .weContent {
      & h2 {
        width: 100%;
      }
    }
    .weVideo {
      width: 50%;
      top: 60%;
      height: 10rem;
    }
  }
}

@media screen and (width >= 750px) {
  .bigscreenNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 7%;
    width: 100%;
    background: #f2f5f7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: 0.5s linear;
    & ul {
      display: flex;
      align-items: center;
      gap: 20px;

      & li {
        position: relative;
        .links {
          color: #333;
          font-size: 20px;
          padding: 20px;
          color: #333;
          display: block;
          text-transform: capitalize;
          transition: 0.3s ease;
          &:hover {
            color: #f7941d;
            transition: 0.3s ease;
          }
        }
        &:hover .dropList,
        &:focus-within .dropList
         {
          opacity: 1;
          pointer-events: initial;
          top: 4rem;
          transition: top 0.4s, opacity 0.3s;
        }
        .fa {
          transition: transform 0.3s ease-in-out;
          margin-left: 5px;
          font-size: 16px;
        }
        &:hover .fa {
          transform: rotate(180deg);
          transition: transform 0.3s ease-in-out;
        }
      }
      .dropdownBig {
        position: relative;
        align-items: center;
      }
      .dropdownBig .dropList {
        pointer-events: none;
        opacity: 0;
        position: absolute;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        display: grid;
        place-items: center;
        background: #f2f5f7;
        transition: top 0.4s, opacity 0.3s;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

        width: 300px;
      }
      .dropdownBig .dropList .dropItems {
        padding: 10px 15px;
        width: 100%;
        display: flex;

        cursor: pointer;
        font-size: 18px;
        transition: 0.3s linear;

        &:hover {
          background: #e4f3fd;
          transition: 0.3s linear;
        }
        & a {
          color: #333;
        }
        &:first-child {
          padding-top: 15px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:hover .insideDrop,
        &:focus-within .insideDrop {
          opacity: 1;
          /* top: 1rem; */
          pointer-events: initial;
          overflow: initial;
          transition: top 0.4s, opacity 0.3s;
        }
        .insideDrop {
          position: absolute;
          left: -100%;
          right: 0;
          top: 0;
          background: #f2f2f2;
          display: grid;
          place-items: center;
          width: 100%;
          height: initial;
          opacity: 0;
          pointer-events: none;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          transition: top 0.4s, opacity 0.3s;

          & li {
            width: 100%;
            padding: 10px 15px;
            transition: 0.3s linear;
            &:hover {
              background: #e4f3fd;
              transition: 0.3s linear;
            }
          }
        }
      }
    }
    .activeLink {
      font-weight: 600;
    }
  }
}
.newNav {
  height: 120px;
  transition: height 0.5s, background 0.5s padding 0.5s linear;
  background: #fff;

  padding: 10px 3%;
  & ul {
    & li a {
      color: #121212;

      &:hover {
        color: #f7941d;
        transition: 0.3s ease;
      }
    }
  }
}

@media screen and (width >= 800px) {
  .values {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .item {
      height: 25rem;
    }
  }
  .ourVision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin-bottom: 40px;
  }

  .mission {
    .item2 {
      order: 1;
    }
  }

  .thanks {
    height: 20rem;
    .content {
      & h1 {
        font-size: 30px;
      }

      & p {
        font-size: 18px;
      }
    }
  }
}

@media screen and (width <= 900px) {
  #bigscreenNav {
    display: none;
  }
  .navMenu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    background: #eee;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    &::-webkit-scrollbar {
      width: 0;
    }
    .navList {
      background-color: #1b1a59;
      padding-top: 1rem;

      .navLink {
        color: #fff;
        background-color: #1b1a59;
        font-weight: 400;
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        transition: background-color 0.3s;
        &:hover {
          background-color: #eee4;
        }
      }
    }
  }

  .showMenu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
  }

  .navHeader {
    .bigScreenImg {
      height: 40px;
    }
  }

  .testimonial {
    .header {
      & h2 {
        width: 75%;
      }
    }
    .comments {
      width: 100%;
      background: transparent;
      .comment {
        width: 90%;
      }
    }
  }
}

@media screen and (width >= 901px) {
  #smallscreenNav {
    display: none;
  }
  .navMenu {
    display: none;
  }
  .navToggle {
    display: none;
  }
  .courses {
    .courseGrid {
      grid-template-columns: repeat(3, 1fr);
      .box {
        .courseOutline {
          padding: 0 5px;
        }
      }
    }
  }
  .weBox {
    .weContent {
      & p {
        width: 80%;
      }
    }
  }
  .weDo {
    & p {
      width: 90%;
    }
    .weDoGrid {
      .box {
        height: 18rem;
      }
    }
  }
}

@media screen and (width >= 960px) {
  .ourVision {
    .item1 {
      order: 2;
    }
    .visionItem {
      & p {
        font-size: 20px;
      }
      & ul {
        & li {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (width <= 1080px) {
  .bigscreenNav {
    padding: 10px 4%;
    & ul {
      gap: 10px;
    }
  }
  .courses {
    padding: 70px 30px;
  }

  .testimonial {
    .comments {
      .comment {
        width: 80%;
      }
    }
  }
  .slider {
    margin-top: 80px;
  }
}
@media screen and (width >= 1080px) {
  .mainBox {
    .content {
      & h2 {
        font-size: 30px;
      }
      & p {
        font-size: 20px;
        width: 60%;
      }
    }
  }
  .courses {
    padding: 70px 100px;
  }
  .weDo {
    padding: 20px 100px;
    .weDoGrid {
      .box {
        height: 20rem;
      }
    }
  }
  .values {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .slider {
    height: 80vh;
    .list {
      .item {
        .content {
          position: absolute;
          left: 5%;
          top: 20%;
          width: 100%;
          max-width: 80%;

          & h1 {
            font-size: 35px;
          }
          & p {
            font-size: 25px;
          }
        }
      }
    }
    .thumbNail {
      padding: 70px 30px;
      left: 5%;
      bottom: 50px;
      .item {
        width: 150px;
        height: 100px;
      }
    }
  }
}

@media screen and (width <= 1309px) {
  .mainBox {
    .content {
      height: 50vh;
    }
  }
  .courses {
    .courseGrid {
      .box {
        .hoveredSeemore {
          top: 80%;
          .btn {
            padding: 8px 12px;
            & i {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (width >= 1310px) {
  .mainBox {
    .content {
      height: 100vh;

      & h2 {
        font-size: 40px;
      }
      & p {
        font-size: 25px;
      }
    }
  }
  .weDo {
    padding: 20px 150px;

    & h2 {
      font-size: 30px;
    }
    & p {
      font-size: 25px;
    }
    .weDoGrid {
      .box {
        height: 20rem;
      }
    }
  }

  .courses {
    & h2 {
      font-size: 30px;
    }
    & p {
      font-size: 20px;
      width: 50%;
      line-height: 1.3;
    }
    .courseGrid {
      .box {
        height: 25rem;
        .courseOutline {
          padding: 0 20px;

          .price {
            padding-right: 15px;
          }
        }
      }
    }
    .outerSeeMore {
      margin-top: 25px;
    }
  }
  .weBox {
    .weContent {
      & h2 {
        width: 50%;
        font-size: 30px;
      }
      & p {
        font-size: 25px;
        width: 80%;
      }
    }
    .weVideo {
      width: 40%;
      /* top: 60%; */
      height: 14rem;
    }
  }
  .ourVision {
    padding: 0 80px;
    margin-top: 100px;
    .visionItem {
      & p {
        font-size: 25px;
      }
      & ul {
        & li {
          font-size: 20px;
        }
      }
    }
  }

  .valuesHeader {
    margin: 100px 0 50px 0;
    & h2 {
      font-size: 30px;
    }
  }
  .values {
    padding: 0 80px;
    .item {
      .title {
        & h3 {
          font-size: 24px;
        }
      }
    }
  }
  .thanks {
    .content {
      width: 70%;
      margin: auto 100px auto auto;
      & h1 {
        font-size: 40px;
      }
      & p {
        font-size: 20px;
      }
    }
  }
}
